@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Comfortaa", cursive;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/images/img-bg6.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/img-bg6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
}

.logo {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logoweb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logow {
  font-size: 35px;
}

.logom {
  font-size: 8px;
  padding-left: 6px;
}

.logo::before {
  content: '';
  position: absolute;
  height: 55px;
  left: -12px;
  width: 5px;
  bottom: -5px;
  background-color: #ffa600;
}

.links {
  z-index: 100;
  display: block;
}

.links li {
  font-size: 15px;
  display: inline-block;
  width: 80px;
  text-align: center;
  margin: 0px 20px;
}

.links-li:hover {
  color: #ffa600;
}

.contact {
  padding: 10px 20px;
  border: solid 1px #ffa600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact:hover {
  color: black;
  background-color: #ffa600;
  -webkit-box-shadow: 0px 0px 10px #ffc250;
          box-shadow: 0px 0px 10px #ffc250;
}

.top-head {
  padding: 80px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  color: white;
}

.top-h {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
  color: white;
  width: 550px;
  height: 150px;
}

.top-p {
  font-size: 15px;
  margin-bottom: 50px;
  position: relative;
  padding-left: 20px;
  color: white;
}

.top-p::before {
  content: '';
  height: 45px;
  width: 7px;
  left: 0;
  background-color: #ffa600;
  top: -5px;
  position: absolute;
}

.top-b {
  width: 100px;
  text-align: center;
  border: solid 2px #ffa600;
  padding: 10px 30px;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.top-b:hover {
  background-color: #ffa600;
  border-color: #ffa600;
  color: black;
}

.links-popup {
  display: none;
  position: absolute;
}

.links-pop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  z-index: 100;
}

.links-pop li {
  display: list-item;
  margin: auto;
  text-align: center;
  margin-top: 120px;
}

.links-pop li:hover {
  color: #ffa600;
}

.bur {
  height: 2px;
  width: 20px;
  background-color: #ffa600;
  margin: 5px;
}

.burger {
  display: none;
}

@media (max-width: 1000px) {
  .links {
    display: none;
  }
  .burger {
    display: block;
  }
}

@media (max-width: 700px) {
  .top-h {
    width: 300px;
    font-size: 25px;
    height: 80px;
  }
  .top-p {
    width: 300px;
  }
  .top-p::before {
    height: 80px;
  }
  .top {
    padding: 30px 50px;
  }
  .top-head {
    padding: 50px;
    height: 400px;
  }
}

.primal {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: #dbdbdb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0px;
}

.primal-h {
  position: relative;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.primal-h::before {
  content: '';
  position: absolute;
  height: 35px;
  width: 6px;
  bottom: 5px;
  left: -15px;
  background-color: #ffa600;
}

.primal-p {
  color: #444444;
}

.primal-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.primal-li-div {
  height: 200px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primal-li-logo {
  height: 120px;
  width: 120px;
  border-radius: 100px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 2px 10px grey;
          box-shadow: 2px 2px 10px grey;
}

.primal-li-con {
  display: list-item;
  list-style-type: none;
  width: 300px;
  margin-left: 30px;
}

.fas {
  color: #3d3d3d;
}

.con-h {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
  padding-left: 15px;
}

.con-h::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 8px;
  left: 0;
  bottom: 4px;
  background-color: #ffa600;
}

.con-p {
  font-size: 12px;
  line-height: 2;
  color: #585858;
}

@media (max-width: 1000px) {
  .primal-li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 700px) {
  .primal {
    padding: 100px 20px;
  }
  .primal-h {
    font-weight: 600;
    font-size: 25px;
  }
  .primal-h::before {
    height: 35px;
    width: 6px;
    bottom: 5px;
    left: -15px;
  }
  .primal-p {
    color: #444444;
    font-size: 15px;
  }
  .primal-li-con {
    width: 250px;
    margin-left: 20px;
  }
  .con-h {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    margin-bottom: 10px;
    padding-left: 15px;
  }
  .con-h::before {
    height: 24px;
    bottom: 0px;
  }
  .con-p {
    font-size: 10px;
    line-height: 2;
    color: #585858;
  }
}

.hover:hover {
  cursor: pointer;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  position: relative;
}

.mission-div {
  position: relative;
  width: 50%;
}

.mission-img {
  background-image: url("../assets/images/img-bg2.jpg");
  background-size: cover;
  background-position: center;
}

.mission-con {
  background-color: #0e1313;
  font-family: "Montserrat", sans-serif;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px 20px;
}

.mission-con-h1 {
  font-size: 30px;
  font-weight: bold;
}

.mission-con-h1::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 5px;
  left: 200px;
  top: 120px;
  background-color: #ffa600;
}

.mission-con-h2 {
  word-spacing: 2px;
  color: #ffa600;
  font-weight: bold;
}

.mission-con-p {
  width: 300px;
  word-spacing: 2px;
  font-size: 12px;
}

.mission-con-b {
  color: #ffa600;
  font-size: 14px;
  padding: 10px 25px;
  width: 80px;
  text-align: center;
  border: solid 1px #ffa600;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mission-con-b:hover {
  background-color: #ffa600;
  color: black;
}

.mission-margin {
  margin-left: 200px;
}

@media (max-width: 1000px) {
  .mission {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 800px;
  }
  .mission-div {
    position: relative;
    width: auto;
    height: 50%;
  }
  .mission-con-h1 {
    font-size: 22px;
    padding-left: 20px;
  }
  .mission-con-h1::before {
    height: 30px;
    width: 5px;
    left: 100px;
    top: 118px;
  }
  .mission-margin {
    margin-left: 80px;
  }
}

.market {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px 0px;
  background: silver;
  overflow-x: hidden;
}

.market-h {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}

.market-h::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 8px;
  left: -20px;
  bottom: 5px;
  background-color: #ffa600;
}

.market-p {
  font-size: 18px;
  margin-bottom: 30px;
}

.market-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.market-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.market-div-logo {
  height: 60px;
  width: 60px;
  border-radius: 150px;
  overflow: hidden;
  background-color: #1d1d1d;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.market-div-logo i {
  color: #ffa600;
}

.market-div-con-h {
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 20px;
}

.market-div-con-p {
  font-size: 14px;
  color: #3b3b3b;
  margin-left: 20px;
  width: 250px;
}

.market-right {
  margin-right: 50px;
}

.market-left {
  margin-left: 50px;
}

.market-b {
  padding: 12px 45px;
  border: solid 1px black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.market-b:hover {
  background-color: black;
  color: silver;
}

@media (max-width: 700px) {
  .market {
    padding: 100px 0px;
  }
  .market-h {
    font-size: 25px;
  }
  .market-h::before {
    bottom: 0px;
  }
  .market-p {
    font-size: 15px;
    margin-bottom: 60px;
  }
  .market-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .market-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    border-right: solid 2px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-top: solid 2px rgba(0, 0, 0, 0.2);
    border-left: solid 2px rgba(0, 0, 0, 0.2);
  }
  .market-div-con-h {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .market-div-con-p {
    font-size: 12px;
    color: #3b3b3b;
    margin-left: 20px;
    width: 250px;
  }
  .market-right {
    margin-right: 0px;
  }
  .market-left {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=main.css.map */