@import './variable';

body
{
    margin: 0px;
    padding: 0px;
    font-family: $fontm4;
    background-image: linear-gradient(to right ,rgba(black,0.5), rgba(black,0.5)), url('../assets/images/img-bg6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    flex-wrap: wrap;
}

*
{
    margin: 0px;
    padding: 0px;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

// -------------------------------------
// top designing 
// top designing
// -------------------------------------

.top
{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    align-items: center;
    color: white;
    // backdrop-filter: brightness(30%);
}

.logo
{
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &web
    {
        display: flex;
        align-items: baseline
    }

    &w
    {
        font-size: 35px;
    }

    &m
    {
        font-size: 8px;
        padding-left: 6px;
    }

    &::before
    {
        content: '';
        position: absolute;
        height: 55px;
        left: -12px;
        width: 5px;
        bottom: -5px;
        background-color: $col2;
    }
}

.links
{
    z-index: 100;
}

.links li
{
    font-size: 15px;
    display: inline-block;
    width: 80px;
    text-align: center;
    margin: 0px 20px;

}

.links-li:hover
{
    color: $col2;
}

.contact
{
    padding: 10px 20px;
    border: solid 1px $col2;
    transition: all 0.3s ease ;
    // border-radius: 20px;

    &:hover
    {
        color: black;
        background-color: $col2;
        box-shadow: 0px 0px 10px rgb(255, 194, 80);
    }
}

.top-head
{
    backdrop-filter: blur(5px);
    padding: 80px;
    // backdrop-filter: brightness(30%);
    height: 500px;
    display: flex;
    flex-direction: column;
}

.top
{
    color: white;

    &-h
    {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 50px;
        color: white;
        width: 550px;
        height: 150px;
    }

    &-p
    {
        font-size: 15px;
        margin-bottom: 50px;
        position: relative;
        padding-left: 20px;
        color: white;

        &::before
        {
            content: '';
            height: 45px;
            width: 7px;
            left: 0;
            background-color: $col2;
            top: -5px;
            position: absolute;
        }
    }

    &-b
    {
        width: 100px;
        text-align: center;
        border: solid 2px $col2;
        padding: 10px 30px;
        color: white;
        transition: all 0.3s ease ;

        &:hover
        {
            background-color: $col2;
            border-color: $col2;
            color: black;
        }
    }
}

.bur
{
    height: 2px;
    width: 20px;
    background-color: $col2;
    margin: 5px;

    &ger
    {
        display: none;
    }
}


@media(max-width:1000px)
{
    .links
    {
        position: absolute;
        right: 0;
        top: 100px;
        background-color: $col2;
        color: black;
        transform: translateX(100%);
    }

    .toggle-links
    {
        animation: slide 0.5s forwards ease 0s;
    }

    @keyframes slide
    {
        from 
        {
            opacity: 0;
            transform: translateX(50%);
        }
        to 
        {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    .links li
    {
        display: list-item;
        margin-top: 100px;
        width: 100px;

        &:hover
        { 
            color: white;
        }
    }
    
    .contact
    {
        padding: 0px;   
        border: none;     
        visibility: hidden;
    }
    
    .burger
    {
        display: block;
    }
}



//primal starts here 
//primal starts here 
//primal starts here 
//primal starts here 
//primal starts here 
//primal starts here 
//primal starts here 


.primal
{
    display: flex;
    flex-direction: column;
    font-family: $fontm1;
    background-color: rgb(219, 219, 219);
    justify-content: center;
    align-items: center;
    padding: 100px 0px;

    &-h
    {
        position: relative;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 10px;
        font-family: $fontm1;

        &::before
        {
            content: '';
            position: absolute;
            height: 35px;
            width: 6px;
            bottom: 5px;
            left: -15px;
            background-color: $col2;
        }
    }

    &-p
    {
        color: rgb(68, 68, 68);
    }

    &-li
    {
        display: flex;
        // flex-direction: column;
        justify-content: center;

        &-div
        {
            height: 200px;
            width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-logo
        {
            height: 120px;
            width: 120px;
            border-radius: 100px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 2px 2px 10px grey;
        }

        &-con
        {
            display: list-item;
            list-style-type: none;
            width: 300px;
            margin-left: 30px;
        }
    }
}

.fas
{
    // color: $col2;
    color: rgb(61, 61, 61);
}

.con
{
    &-h
    {
        font-size: 18px;
        font-weight: bold;
        position: relative;
        margin-bottom: 20px;
        padding-left: 15px;

        &::before
        {
            content: '';
            position: absolute;
            height: 20px;
            width: 8px;
            left: 0;
            bottom: 4px;
            background-color: $col2;
        }
    }

    &-p
    {
        font-size: 12px;
        line-height: 2;
        color: rgb(88, 88, 88);
    }
}


@media (max-width: 1000px)
{
    .primal-li
    {
        flex-direction: column;
    }
}


.hover:hover
{
    cursor: pointer;
}


