@import './variable';

body
{
    margin: 0px;
    padding: 0px;
    font-family: $fontm4;
    background-image: linear-gradient(to right ,rgba(black,0.5), rgba(black,0.5)), url('../assets/images/img-bg6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    flex-wrap: wrap;
}

*
{
    margin: 0px;
    padding: 0px;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

// -------------------------------------
// top designing 
// top designing
// -------------------------------------

.top
{
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    align-items: center;
    color: white; 
    position: relative;
}

.logo
{
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &web
    {
        display: flex;
        align-items: baseline
    }

    &w
    {
        font-size: 35px;
    }

    &m
    {
        font-size: 8px;
        padding-left: 6px;
    }

    &::before
    {
        content: '';
        position: absolute;
        height: 55px;
        left: -12px;
        width: 5px;
        bottom: -5px;
        background-color: $col2;
    }
}

.links
{
    z-index: 100;
    display: block;
}

.links li
{
    font-size: 15px;
    display: inline-block;
    width: 80px;
    text-align: center;
    margin: 0px 20px;
}

.links-li:hover
{
    color: $col2;
}

.contact
{
    padding: 10px 20px;
    border: solid 1px $col2;
    transition: all 0.3s ease ;
    // border-radius: 20px;

    &:hover
    {
        color: black;
        background-color: $col2;
        box-shadow: 0px 0px 10px rgb(255, 194, 80);
    }
}

.top-head
{
    padding: 80px;
    // backdrop-filter: brightness(30%);
    height: 550px;
    display: flex;
    flex-direction: column;
}

.top
{
    color: white;

    &-h
    {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 50px;
        color: white;
        width: 550px;
        height: 150px;
    }

    &-p
    {
        font-size: 15px;
        margin-bottom: 50px;
        position: relative;
        padding-left: 20px;
        color: white;

        &::before
        {
            content: '';
            height: 45px;
            width: 7px;
            left: 0;
            background-color: $col2;
            top: -5px;
            position: absolute;
        }
    }

    &-b
    {
        width: 100px;
        text-align: center;
        border: solid 2px $col2;
        padding: 10px 30px;
        color: white;
        transition: all 0.3s ease ;

        &:hover
        {
            background-color: $col2;
            border-color: $col2;
            color: black;
        }
    }
}

.links-popup
{
    display: none;
    position: absolute;
}

.links-pop
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    z-index: 100;
    li
    {
        display: list-item;
        margin: auto;
        text-align: center;
        margin-top: 120px;

        &:hover
        {
            color: $col2;
        }
    }
}


.bur
{
    height: 2px;
    width: 20px;
    background-color: $col2;
    margin: 5px;

    &ger
    {
        display: none;
    }
}


@media(max-width:1000px)
{
    .links
    {
        display: none;
    }

    .burger
    {
        display: block;
    }
}

@media(max-width: 700px)
{
    .top-h
    {
        width: 300px;
        font-size: 25px;
        height: 80px;
    }

    .top-p
    {
        width: 300px;

        &::before
        {
            height: 80px;
        }
    }

    .top
    {
        padding: 30px 50px;
    }

    .top-head
    {
        padding: 50px;
        height: 400px;
    }
    
}



//primal starts here 
//primal starts here 
//primal starts here 
//primal starts here 
//primal starts here 
//primal starts here 
//primal starts here 


.primal
{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: $fontm1;
    background-color: rgb(219, 219, 219);
    justify-content: center;
    align-items: center;
    padding: 120px 0px;

    &-h
    {
        position: relative;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 10px;
        font-family: $fontm1;

        &::before
        {
            content: '';
            position: absolute;
            height: 35px;
            width: 6px;
            bottom: 5px;
            left: -15px;
            background-color: $col2;
        }
    }

    &-p
    {
        color: rgb(68, 68, 68);
    }

    &-li
    {
        display: flex;
        // flex-direction: column;
        justify-content: center;

        &-div
        {
            height: 200px;
            width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-logo
        {
            height: 120px;
            width: 120px;
            border-radius: 100px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 2px 2px 10px grey;
        }

        &-con
        {
            display: list-item;
            list-style-type: none;
            width: 300px;
            margin-left: 30px;
        }
    }
}

.fas
{
    // color: $col2;
    color: rgb(61, 61, 61);
}

.con
{
    &-h
    {
        font-size: 18px;
        font-weight: bold;
        position: relative;
        margin-bottom: 20px;
        padding-left: 15px;

        &::before
        {
            content: '';
            position: absolute;
            height: 20px;
            width: 8px;
            left: 0;
            bottom: 4px;
            background-color: $col2;
        }
    }

    &-p
    {
        font-size: 12px;
        line-height: 2;
        color: rgb(88, 88, 88);
    }
}


@media (max-width: 1000px)
{
    .primal-li
    {
        flex-direction: column;
    }
}

@media (max-width: 700px)
{

    .primal
    {
        padding: 100px 20px;
    
        &-h
        {
            font-weight: 600;
            font-size: 25px;
    
            &::before
            {
                height: 35px;
                width: 6px;
                bottom: 5px;
                left: -15px;
            }
        }
    
        &-p
        {
            color: rgb(68, 68, 68);
            font-size: 15px;
        }
    
        &-li
        {
            &-con
            {
                width: 250px;
                margin-left: 20px;
            }
        }
    }


    .con
    {
        &-h
        {
            font-size: 14px;
            font-weight: 600;
            position: relative;
            margin-bottom: 10px;
            padding-left: 15px;
    
            &::before
            {
                height: 24px;
                bottom: 0px;
            }
        }
    
        &-p
        {
            font-size: 10px;
            line-height: 2;
            color: rgb(88, 88, 88);
        }
    }
    
    
}


.hover:hover
{
    cursor: pointer;
}

///////////////////////////////////
// top done
// top done
// top done
// top done
// top done
// top done
// top done
// top done
// top done
// top done
// top done
// top done
//////////////////////////////////

.mission
{
    display: flex;
    height: 500px;
    position: relative;

    &-div 
    {
        position: relative;
        width: 50%;
    }

    &-img
    {
        background-image: url('../assets/images/img-bg2.jpg');
        background-size: cover;
        background-position: center;
    }

    &-con
    {
        background-color: $col6;
        font-family: $fontm2;
        color: white;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 100px 20px;

        &-h1
        {
            font-size: 30px;
            font-weight: bold;

            &::before
            {
                content: '';
                position: absolute;
                height: 30px;
                width: 5px;
                left: 200px;
                top: 120px;
                background-color: $col2;
            }
        }

        &-h2
        {
            word-spacing: 2px;
            color: $col2;
            font-weight: bold;
        }

        &-p
        {
            width: 300px;
            word-spacing: 2px;
            font-size: 12px;
        }

        &-b
        {
            color: $col2;
            font-size: 14px;
            padding: 10px 25px;
            width: 80px;
            text-align: center;
            border: solid 1px $col2;
            // border-radius: 10px;
            transition: all 0.3s ease 0s;

            &:hover
            {
                background-color: $col2;
                color: black;
            }
        }
    }

    &-margin
    {
        margin-left: 200px;
    }
}

@media (max-width:1000px)
{

    .mission
    {
        flex-direction: column-reverse;
        height: 800px;
    
        &-div 
        {
            position: relative;
            width: auto;
            height: 50%;
        }
    
        &-con
        {
            &-h1
            {
                font-size: 22px;
                padding-left: 20px;
    
                &::before
                {
                    height: 30px;
                    width: 5px;
                    left: 100px;
                    top: 118px;
                }
            }
        }
    
        &-margin
        {
            margin-left: 80px;
        }
    }
    
}

// mission con done 
// mission con done 
// mission con done 
// mission con done 
// mission con done 
// mission con done 
// mission con done 
// mission con done 
// mission con done 


.market
{
    font-family: $fontm2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0px;
    background: silver;
    overflow-x: hidden;

    &-h
    {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        position: relative;

        &::before
        {
            content: '';
            position: absolute;
            height: 30px;
            width: 8px;
            left: -20px;
            bottom: 5px;
            background-color: $col2;
        }
    }

    &-p
    {
        font-size: 18px;
        margin-bottom: 30px;
    }

    &-ul
    {
        display: flex;
        justify-content: space-around;
    }

    &-div
    {
        display: flex;
        margin-bottom: 50px;

        &-logo
        {
            height: 60px;
            width: 60px;
            border-radius: 150px;
            overflow: hidden;
            background-color: rgb(29, 29, 29);
            box-shadow: 2px 2px 5px black;
            display: flex;
            align-items: center;
            justify-content: center;

            i 
            {
                color: $col2;
            }
        }

        &-con
        {
            &-h
            {
                font-weight: bold;
                margin-left: 20px;
                margin-bottom: 20px;
            }

            &-p
            {
                font-size: 14px;
                color: rgb(59, 59, 59);
                margin-left: 20px;
                width: 250px;
            }
        }
    }

    &-right
    {
        margin-right: 50px;
    }

    &-left
    {
        margin-left: 50px;
    }

    &-b
    {
        padding: 12px 45px;
        border: solid 1px black;
        transition: all 0.3s ease 0s;

        &:hover
        {
            background-color: black;
            color: silver;
        }
    }
}

@media (max-width:700px)
{
    .market
    {
        padding: 100px 0px;
    
        &-h
        {
            font-size: 25px;
    
            &::before
            {
                bottom: 0px;
            }
        }
    
        &-p
        {
            font-size: 15px;
            margin-bottom: 60px;
        }
    
        &-ul
        {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
    
        &-div
        {
            align-items: center;
            justify-items: center;
            // border-radius: 30px;
            // background-color: rgba($color: grey, $alpha: 0.2);
            border-bottom: solid 2px rgba($color: black, $alpha: .2);
            border-right: solid 2px rgba($color: black, $alpha: .2);
            padding: 30px;
            border-top: solid 2px rgba($color: black, $alpha: .2);
            border-left: solid 2px rgba($color: black, $alpha: .2);
            // backdrop-filter: blur(2px);
    
            &-con
            {
                &-h
                {
                    margin-bottom: 15px;
                    font-size: 16px;
                }
    
                &-p
                {
                    font-size: 12px;
                    color: rgb(59, 59, 59);
                    margin-left: 20px;
                    width: 250px;
                }
            }
        }
    
        &-right
        {
            margin-right: 0px;
        }
    
        &-left
        {
            margin-left: 0px;
        }
    }            
}